ccstest-ws-gateway-iface/src/main/resources/wsdl/ccstest.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://pensionsoft.ru/schemas/rostelecom/ccstest/"
           targetNamespace="http://pensionsoft.ru/schemas/rostelecom/ccstest/">

    <xs:annotation>
        <xs:documentation>Описание типов данных каталога канонических сервисов</xs:documentation>
    </xs:annotation>

    <xs:simpleType name="MoneyType">
        <xs:annotation>
            <xs:documentation>Описывает значение денежный средств</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ResultCodeType">
        <xs:annotation>
            <xs:documentation>Коды ошибок при выполнении запросов</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Success">
                <xs:annotation>
                    <xs:documentation>Выполнено успешно</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SystemError">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Неклассифицированная ошибка.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SystemBusy">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Система занята или недоступна.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UnknownRequest">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Неизвестный вид запроса.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="InvalidParameters">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Неверные параметры запроса.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UnknownCustomer">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Клиент не найден.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UnknownProduct">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Продукт не найден.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UnknownService">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Услуга не найдена.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UnknownDiscount">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Скидка не найдена.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UnknownAccumulator">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Аккумулятор не найден.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Timeout">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Превышено время ожидания ответа.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AuthFailed">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Не удалось авторизовать клиента.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ExceededAttempts">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Превышено количество попыток обращения к информационной системе.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISNotAvailable">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Информационная система не доступна.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISError">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Информационная система вернула ошибку.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UnknownPaymentID">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Платеж с указанным идентификатором отсутствует.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BadAmount">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Платеж не может быть выполнен на указанную сумму.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AccessDenied">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Доступ АСР запрещен.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UnknownCurrency">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Неизвестный код валюты.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UnknownDestination">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Неизвестный получатель платежа.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BadPaymentDate">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Дата платежа вне допустимого диапазона.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NotEnoughMoney">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Недостаточно средств для выполнения списания.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ExceededAmount">
                <xs:annotation>
                    <xs:documentation>Запрос не выполнен. Превышена сумма допустимых операций по счету за период.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DataNotFound">
                <xs:annotation>
                    <xs:documentation>Данные не найдены.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="FaultType">
        <xs:annotation>
            <xs:documentation>Используется для передачи сообщений об ошибках</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="faultcode" type="tns:ResultCodeType" default="SystemError">
                <xs:annotation>
                    <xs:documentation>Содержит коды ошибок из типа ResultCode</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="faultstring" type="xs:string" default="">
                <xs:annotation>
                    <xs:documentation>Содержит описание кода ошибки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="faultactor" type="xs:string" default="">
                <xs:annotation>
                    <xs:documentation>Содержит описание системы, по чьей вине произошла ошибка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="detail" type="xs:string" default="">
                <xs:annotation>
                    <xs:documentation>Содержит детальное описание ошибки</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EntityType" abstract="true">
        <xs:annotation>
            <xs:documentation>Описывает структуру, содержащую данные о cущности (идентификаторе) клиента</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="entityId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор сущности</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CustomerEntityType">
        <xs:annotation>
            <xs:documentation>Описывает структуру, содержащую данные о используемой в домене Customer</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:EntityType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PersonalAccountEntityType">
        <xs:annotation>
            <xs:documentation>Описывает структуру, содержащую данные о используемой в домене Customer</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:EntityType"/>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ContextType">
        <xs:annotation>
            <xs:documentation>Описывает структуру, содержащую данные о контексте вызова методов ESB</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="userLogin" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Логин оператора, вызывающего метод ESB</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="systemId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор системы, вызывающей методы ESB</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CustomerCurrentBalanceRqType">
        <xs:annotation>
            <xs:documentation>Входные параметры для запроса текущего баланса абонента</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:annotation>
                    <xs:documentation>Идентификатор клиента</xs:documentation>
                </xs:annotation>
                <xs:element name="customerEntityId" type="tns:CustomerEntityType"/>
                <xs:element name="personalAccountEntityId" type="tns:PersonalAccountEntityType"/>
            </xs:choice>
            <xs:element name="context" type="tns:ContextType">
                <xs:annotation>
                    <xs:documentation>Контекст вызова</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CustomerCurrentBalanceRsType">
        <xs:annotation>
            <xs:documentation>Выходные параметры для запроса текущего баланса абонента</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="amount" type="tns:MoneyType">
                <xs:annotation>
                    <xs:documentation>Баланс клиента в АСР</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>